* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.header-image {
    width: 100%;
}


.heading {
    position: relative;
    bottom: 200px;
}


.logo {
    width: 80px;
    height: 80px;
    margin: 30px;
}

.header-text {
    width: 550px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ios-button {
    background-color: rgb(69, 207, 154);
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    margin-right: 5px;
     box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.281);
}

.mac-button {
    background-color: rgb(130, 16, 223);
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    margin-left: 5px;
    box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.281);
}

.header-buttons {
    margin-top: 40px;
}



/* Snippet Section */


.snippet-section {
    position: relative;
    bottom: 70px;
}

.snippet-text {
    width: 550px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.snippet-info {
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.monitor-image {
    width: 650px;
    height: 550px;
    position: relative;
    right: 30px;
}

.snippet-activity {
    text-align: left;
    margin-left: 60px;
    margin-top: 20px;
}

.flex {
    width: 300px;
    margin-bottom: 40px;
    line-height: 1.5;
}

/* Access Section */

.access-section {
    position: relative;
    top: 100px;
}

.access-text {
    width: 550px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px; 
}

.device {
    width: 800px;
    height: 500px;
    margin-top: 40px;
}

/* Supercharge Section */

.super-section {
    position: relative;
    top: 150px;
}

.suoercharge-text {
    width: 550px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px; 
}

.workflow {
    width: 950px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 135px;
    margin-top: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;           
    width: 450px;
    height: 150px;
    line-height: 1.5; 
    margin: 5px;
    position: relative;
    left: 15px;
}

.icon {
    width: 25px;
    height: 20px;
    margin-bottom: 20px;
}


/* Poweredby Section */

.powered-by {
    position: relative;
    top: 200px;
}

.powered-icons {
    width: 100px;
    margin: 50px;
}


/* Clipboard Section */

.clipboard-section {
    position: relative;
    top: 300px;
}

.clipboard-text {
    width: 550px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Footer Section */

.footer-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 400px;
    height: 150px;
    background-color: rgb(179, 179, 179);
}

.footer-logo {
    width: 50px;
    height: 50px;
}

.footer-links {
    width: 400px;
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 70px;
}

.link1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.link2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.link-words {
    margin: 5px;
}

.social-media {
    width: 100px;
    display: flex;
    justify-content: space-between;
}



@media (max-width: 768px) {
   
    .container {
        display: block;
    }


    .heading {
        position: relative;
        top: 15px;
    }

    .header-text {
        width: 300px;
    }

    .header-buttons {
        display: flex;
        flex-direction: column;
        height: 100px;
    }

    .ios-button {
        width: 300px;
        margin: 10px;
        margin: auto;
    }

    .mac-button {
        width: 300px;
        margin: 10px;
        margin: auto;
    }


    /* Snippet Section */

    
    .snippet-section {
        position: relative;
        top: 100px;
    }
    
    
    .snippet-text {
        width: 300px;
    }

    .snippet-info {
        flex-direction: column;
    }

    .monitor-image {
        width: 350px;
        height: 250px;
       margin-left: 60px;
    }

    .snippet-activity {
        position: relative;
        right: 30px;
        top: 20px;
        text-align: center;
    }

    /* Access Section */

    .access-section {
        position: relative;
        top: 200px;
    }
    
    .access-text {
        width: 300px;
    }

    .device {
        width: 400px;
        height: 250px;
    }


    /* Super Section  */

    .super-section {
        position: relative;
        top: 250px;
    }

    .supercharge-text {
        width: 300px;
        margin: auto;
        margin-top: 10px;
    }

    .workflow {
        width: 350px;
        flex-direction: column;
        position: relative;
        left: 20px;
    }

    .card {
        width: 300px;
    }


    /* powered */

    .powered-by {
        width: 200px;
        display: flex;
        flex-direction: column;
        position: relative;
        left: 110px;
        top: 250px;
    }

    /* Clipboard Section */

    .clipboard-text {
        width: 300px;
    }

    /* Footer section */

    .footer-section {
        flex-direction: column;
        height: 500px;
    }

    .footer-links {
        position: relative;
        left: 5px;
        width: 100px;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .link1 {
        text-align: center;
    }

    .link2 {
        text-align: center;
    }

    .link-words {
        width: 100px;
        margin: 10px;
    }


















}